typeattribute hal_power_default coredomain;

allow hal_power_default debugfs_wlan:dir r_dir_perms;
allow hal_power_default debugfs_wlan:file r_file_perms;

allow hal_power_default sysfs_graphics:dir search;
allow hal_power_default sysfs_graphics:file r_file_perms;

allow hal_power_default sysfs_rpm:file r_file_perms;
allow hal_power_default sysfs_system_sleep_stats:file r_file_perms;
allow hal_power_default sysfs_power_stats:file r_file_perms;

# To do powerhint on nodes defined in powerhint.json
allow hal_power_default sysfs_devfreq:dir search;
allow hal_power_default sysfs_devfreq:{ file lnk_file } rw_file_perms;
allow hal_power_default sysfs_scsi_devices:dir search;
allow hal_power_default sysfs_scsi_devices:{ file lnk_file } rw_file_perms;
allow hal_power_default sysfs_kgsl:dir search;
allow hal_power_default sysfs_kgsl:{ file lnk_file } rw_file_perms;
allow hal_power_default sysfs_msm_subsys:dir search;
allow hal_power_default sysfs_msm_subsys:file rw_file_perms;
allow hal_power_default sysfs_devices_system_cpu:file rw_file_perms;
allow hal_power_default device_latency:chr_file rw_file_perms;
allow hal_power_default debugfs_sched_features:dir search;
allow hal_power_default debugfs_sched_features:file rw_file_perms;
allow hal_power_default input_device:dir search;
allow hal_power_default input_device:chr_file rw_file_perms;
allow hal_power_default latency_device:chr_file rw_file_perms;

allow hal_power_default hal_power_hwservice:hwservice_manager add;
allow hal_power_default hidl_base_hwservice:hwservice_manager add;
binder_call(hal_power_default, hwservicemanager)
binder_call(hal_power_default, hal_audio)

# To get hwservicemanager state
get_prop(hal_power_default, hwservicemanager_prop)

# To get/set powerhal state property
set_prop(hal_power_default, vendor_power_prop)

# Rule for powerhal to write/dump cgroup
allow hal_power_default cgroup:file rw_file_perms;
